---
import {
  SITE_AUTHOR,
  SITE_AUTHOR_AVATAR,
  SITE_AUTHOR_BIO,
  SITE_SOCIAL,
  SITE_URL,
  resolveSocialLink,
} from '@/shared/config';
import '@/widgets/author-card/styles/author-card.css';

const links = SITE_SOCIAL.map(resolveSocialLink);
---
<aside class="author-card not-prose" data-pagefind-ignore="all">
  <div class="author-card-row">
    <img src={SITE_AUTHOR_AVATAR} alt="" width="48" height="48" loading="lazy" class="author-card-avatar" />
    <div class="author-card-info">
      <p class="author-card-name">
        <a href={`${SITE_URL}/about/`} class="author-card-name-link">{SITE_AUTHOR}</a>
      </p>
      <p class="author-card-bio">{SITE_AUTHOR_BIO}</p>
    </div>
  </div>
  {links.length > 0 && (
    <ul class="author-card-links">
      {links.map((l) => (
        <li>
          <a href={l.href} target="_blank" rel="noopener me" class="author-card-link">
            <span class="author-card-icon">{l.icon}</span>
            <span>{l.label}</span>
          </a>
        </li>
      ))}
    </ul>
  )}
</aside>
